{% extends "base.html" %} {% block title %}Esqueci minha Senha - Pokémon{% endblock %} {% block content %}
<main class="auth-container">
  <div class="auth-card">
    <img src="{{ url_for('static', filename='uploads/utilidade/poke-ball.png') }}" alt="Pokébola" class="auth-icon" />
    <h1>REDEFINIR SENHA</h1>
    <p style="margin-bottom: 20px; color: #ccc; font-size: 14px">Informe seu e-mail para encontrar sua conta.</p>

    <form action="{{ url_for('auth.forgot_password') }}" method="POST" class="auth-form">
      <div class="form-group">
        <label for="email">E-MAIL DA CONTA</label>
        <input type="email" name="email" id="email" class="form-control" placeholder="seuemail@provedor.com" required />
      </div>
      <button type="submit" class="btn-abrir">CONTINUAR</button>
    </form>
    <div class="auth-footer">
      <a href="{{ url_for('auth.login') }}" style="color: #ccc; text-decoration: none">Voltar ao Login</a>
    </div>
  </div>
</main>
{% endblock %}
